<div class="wide">
    <div class="input-row">
        <%= f.label(:service_name, "Service", class: "input-label") %>
        <%= f.text_field :service_name %>
    </div>
    <div class="input-row">
        <%= f.label(:description, "Description", class: "input-label") %>
        <%= f.text_area :description, class: "", rows: "4" %>
    </div>   
</div>
 