  	<% provide :title, "Services Index" %>
  	<div class="page-header">
    	<h1>Services Index</h1>
    	<%= link_to "Add Service", new_service_path, class: "btn btn-primary btn-right" %>
  	</div>

<ul class="link-list">
	<%= render @services %>
</ul>
