<% provide :title, "Living Building Categories" %>
<%= link_to "Admin Panel", admin_path, class: "header-label" %>
<div class="page-header">
	<h1>Living Building Categories</h1>
	<%= link_to "Add Living Building Category", new_living_building_category_path, class: "btn btn-primary btn-right" %>
</div>

<ul class="link-list">
	<% @living_building_categories.each do |param| %>
			<li>
				<%= link_to "#{LivingBuilding.find(param.version).version}: #{param.name}", edit_living_building_category_path(param.id) %>
				<% if signed_in? %>
					<% if current_user.admin? %>
					| <%= link_to "delete", param, method: :delete, confirm: "You sure?" %>
					<% end %>
				<% end %>
			</li>
	<% end %>
</ul>

