<% content_for :page_header do %>
    <% provide :title, "Messages" %>
    <div class="page-header">
        <h1>Messages</h1>
        <%= link_to "Add Message", new_message_path, class: "btn btn-primary btn-right" %>
    </div>
<% end %>

<ul id="messages">
    <%= render @messages %>
</ul>

