            <div class="wide">
                <div class="input-row">
                    <%= f.label :name, class: "input-label" %>
                    <%= f.text_field :name %>
                </div>
                <div class="input-row">
                    <%= f.label(:date, class: "input-label") %>
                    <%= f.text_field :date, class: "datepicker" %>
                </div>
                
            </div>


