                    
                <div class="row">
                    <%= f.label(:date, class: "control-label") %>
                    <%= f.text_field :date, class: "span1-75", datadatepicker: "datepicker" %>
                </div>
                <div class="row">
                    <%= f.label :name, class: "control-label" %>
                    <%= f.text_field :name, class: "span4" %>
                </div>



