<% content_for :page_header do %>
  <% provide :title, "Timesheets Index" %>
  <div class="page-header">
    <h1>Timesheets Index</h1>
  </div>
<% end %>

<h4>Employees</h4><br />
	<ul>
		<% Contact.employee_list.each do |param| %>
  			<li><%= link_to param.name, timesheets_employee_path(param) %></li>
		<% end %>
	</ul>
<br /><br />