<% content_for :page_header do %>
	<% provide :title, "Consultants Index" %>
	<div class="page-header">
		<h1>Consultants Index</h1>
	</div>
<% end %>

<%= link_to "Add Consultant", new_consultant_path, class: "btn" %>

<%= render @consultants %>
