<% provide :title, @consultant.name %>
<%= link_to "Consultants", consultants_path, class: "header-label" %>

<div class="page-header">
    <h1><%= @consultant.name %></h1>
    <%= link_to "edit name", edit_consultant_path(@consultant), class: "btn btn-right" %>
</div>

<h2>Projects</h2>
<ul class="link-list green">
	<% @consultant.all_projects.each do |p| %>
		<li>
			<%= link_to "#{p.name} (#{p.project_year})<span class=\"note\">#{@consultant.all_roles(p.id)}</span>".html_safe, info_project_path(p) %>
		</li>
	<% end %>
</ul>