    <div class="vacation">
        <div class="input-row">
            <%= f.text_field :start_date, class: "datepicker" %>
        </div>
        <div class="input-row">
            <%= f.text_field :end_date, class: "datepicker" %>
        </div>
        <div class="input-row">
            <%= f.text_field :hours, class: "hours" %>
        </div> 
    </div>