<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to db.tkwa.com!</h1>
        <p>
            You have been added as a user on db.tkwa.com.
            Your login is: <%= @user.email %>.<br/>
        </p>
        <p>
            To login to the site, just follow this link: <%= @url %>.
        </p>
    </body>
</html>