<% content_for :modal_header do %>
    New Vacation Record
<% end %>

<%= form_for @vacation_record do |f| %>

    <div class="modal-body">
        <%= render 'fields', f: f %>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Create Record", class: "btn btn-primary" %>
    </div>

<% end %>
