<div class="wide">
    <div class="input-row">
        <%= f.label(:name, "Category Name", class: "input-label") %>
        <%= f.text_field :name %>
    </div>
    <div class="input-row">
        <%= f.label(:shorthand, "Category Abbreviation", class: "input-label") %>
        <%= f.text_field :shorthand %>
    </div>
</div>