					<tr class="results-row">
		                <td class="bold"><% if f.full_name %><%= link_to f.full_name, edit_contact_path(f) %><% else %><%= link_to "", edit_contact_path(f) %><% end %></td>
		                <td><%= link_to f.company_name, edit_contact_path(f) %></td>
		            </tr>