<div class="modal hide fade company-modal" id="searchCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Search Company Name</h3>
    </div>
    <div class="modal-body">
		<%= search_form_for @q, url: search_companies_path, :html => { method: :post } do |s| %>
			<div class="input-row">
				<%= s.label(:name_cont, "Company Name", class: "input-label") %>
				<%= s.text_field :name_cont, class: "search-name contact", placeholder: "" %> 
			</div>
		<% end %>

		<% if @companies.count > 0 %>
			<!-- this uses the _companies partial in @companies -->
			<div id="companies"></div>
		<% end %>

		<script>
		$("#company_search input").keyup(function() {
		    $.get($("#company_search").attr("action"), $("#company_search").serialize(), null, "script");
		    return false;
		});
		</script>
    </div>
</div>