<% provide :title, "Employees" %>
<div class="page-header">
	<h1>Employees (<%= @employees.count %>)</h1>
	<input type="button" id="selectall" class="btn btn-right" value="Select All">
</div>

<ul class="employee-list">
	<li class="header">
		<div class="name">Name</div>
		<div class="ext">Ext</div>
		<div class="cell">Cell</div>
		<div class="email">Email</div>
		<div class="start">Start Date</div>
		<div class="bday">Birthday</div>
	</li>
	<% @employees.each do |param| %>
	    <%= render 'employee', :f => param %>
	<% end %>
</ul>

<div class="save-row">
	<input type="button" id="getselected" class="btn btn-primary" value="Email All Selected">
</div>

<% content_for :scripts do %>
	<script>
		$(function () {
	    $('#selectall').toggle(
	        function() {
	            $(':checkbox').prop('checked', true);
	            $('.checkbox').addClass('checked');
	            $(this).val('Deselect All');
	        },
	        function() {
	            $(':checkbox').prop('checked', false);
	            $('.checkbox').removeClass('checked');
	            $(this).val('Select All');
	        }
	    );

	    $( "#getselected" ).click(function() {
	    	var allVals = [];
	    	$(':checkbox').each(function() {
	    		if ( $(this).prop('checked') == true ) {
	       			allVals.push($(this).val());
	       		}
	     	});
		  	window.location.href = "mailto:" + allVals.join(",");
		});
	});
	</script>
<% end %>

