<% content_for :page_header do %>
	<% provide :title, "Employees" %>
	<div class="page-header">
		<h1>Employees</h1>
	</div>
<% end %>

<br />

	<table class="table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Extension</th>
	            <th>Cell Phone</th>
	            <th>Email</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <% @employees.each do |param| %>
	            <%= render 'employee', :f => param %>
	        <% end %>
	    </tbody>
	</table>