<%= form_for @contact do |f| %>
<%= render 'shared/error_messages', object: f.object %>

   <div class="content">

        <%= render 'fields', :f => f %>

        <div class="save-row">
            <%= f.submit "Update", class: "btn btn-primary save-btn" %>
        </div> 

    </div> <!-- end content -->

<% end %>




