<div class="c-line">
	
		<%= f.collection_select(:contact_id, Contact.employee_list.all, :id, :name, { :include_blank => true }, { :class => "c-info lt" } ) %>
	
    <%= f.hidden_field :_destroy %>
    <div class="c-bar"></div>
    
	    <%= f.select(:role, EmployeeTeam::EMPLOYEE_ROLES, { :include_blank => true }, { :class => "c-info rt" } ) %>
    

    <%= link_to_remove_fields_2 "  ", f %>

</div>
	    

