<div class="row">
	
	<%= f.collection_select(:user_id, User.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>

    <%= f.hidden_field :_destroy %>
    
	<%= f.select(:role, EmployeeTeam::EMPLOYEE_ROLES, { :include_blank => true }, { :class => "custom-select" } ) %>
    
    <%= link_to_remove_fields_2 "  ", f %>

</div>

