<div class="table-row">
		<%= f.collection_select(:user_id, User.all, :id, :name, { :include_blank => true }, { :class => "span3" } ) %>
     	<%= f.hidden_field :_destroy %>

        <%= f.select(:role, Team::STAFF_ROLES, { :include_blank => true }, { :class => "span3" } ) %>
        
     	<%= link_to_remove_fields "remove", f %>
</div>
	    



