<%= form_for @project do |f| %>

    <div class="header">
        <div class="phase">Phase</div>
        <div class="desc">Description</div>
        <div class="start">Start Date</div>
        <div class="end">End Date</div>
        <div class="duration">Duration</div>
    </div>
	<!-- nested form for team-->
        <%= f.fields_for :shop_drawings do |builder| %>
            <%= render 'shop_drawing_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields "", f, :shop_drawings, "add fui-plus drawing" %>
    <!-- end team form -->

<% end %>

