	<%= form_for @project do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <%= render 'fields', f: f %>

        <div class="save-row">
	        <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>

	<script>
    if ( $('#project_status_potential').attr('checked') == 'checked' ) {
        $('#project_number').parent('.input-row').hide();
    }

    $('#project_status_potential').change( function () {
        if ( $(this).attr('checked') ) {
            $('#project_number').parent('.input-row').hide();
        } else {
            $('#project_number').parent('.input-row').show();
        }
    });

    $('#project_awarded_yes').change( function () {
        if ( $(this).attr('checked') ) {
            $('#awarded').fadeIn("slow");
            $('#note').fadeOut("slow");
        } else {
            $('#awarded').fadeOut("slow");
        }
    });

    $('#project_awarded_no').change( function () {
        if ( $(this).attr('checked') ) {
            $('#not-awarded').fadeIn("slow");
            $('#note').fadeOut("slow");
        } else {
            $('#not-awarded').fadeOut("slow");
        }
    });

    $('#project_awarded_pending').change( function () {
        if ( $(this).attr('checked') ) {
            $('#not-awarded').fadeOut("slow");
            $('#awarded').fadeOut("slow");
            $('#note').fadeIn("slow");
        } else {
            $('#note').fadeOut("slow");
        }
    });
    </script>
