<% provide :title, "Marketing" %>
<div class="page-header auto">
    <h1>Marketing</h1>
    <br>
    <br>
    <ul>
    	<% @projects.each do |param| %>
			<li>
				<%= link_to param.mkt_display_name, marketing_project_path(param.id) %>
			</li>
		<% end %>

    </ul>
</div>