<% provide :title, "Marketing" %>
<div class="page-header auto">
    <h1>Marketing</h1>
    <p class="description">This page is still being refined! Everything works - you can enter data and it will be saved - but it's a little plain right now and I'll be working on it more soon.</p>
</div>