<% provide :title, "Monthly Billing" %>
<div class="page-header auto">
    <h1>Monthly Billing</h1>
</div>

<%= form_for :project, :url => update_all_path, :html => { :method => :put } do %>

    <table class="table monthly-billing">
        
        <thead>
        </thead>

        <tbody>
            
        </tbody>

        <tfoot>
        </tfoot>
        
    </table>

    <div class="save-row">
        <%= submit_tag "Save", class: "btn btn-primary save-btn" %>
    </div>

<% end %>