<%= form_for @project do |f| %>

	<%= render 'project_header', f: f %>

	<h2>Patterns</h2>
	<% if @patterns.count == 0 %>
		No patterns yet!
	<% else %>
		<ul id="pattern-tiles" >
		<% @patterns.order("number ASC").each do |p| %>
			<%= render 'pattern_fields', :p => p %>
		<% end %>
		</ul>
	<% end %>

<% end %>
