<h2>Schedule</h2>
<p class="description">Click any item's colored bar to edit its information, or click the green button below the chart to add a new schedule item.</p>

<% unless @project.schedule_items.empty? %>
    <div class="contain">
        <div class="gantt"></div>
    </div>
<% else %>
    <p>This project schedule has not been set up yet. Click "add schedule item" below to get started.</p>
<% end %>

<!-- modal to edit schedule items -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit Schedule Item</h3>
    </div>
    <div class="modal-body">
    </div>
</div>
<!-- end modal -->

<!--<%= form_for @project do |f| %>
    <div id="schedule-list">
        <%= link_to_add_schedule_fields("add schedule item",f, :schedule_items, "add-schedule-item") %>
    </div>
<% end %>-->
<a href="/projects/<%= @project.id %>/schedule_items/new" data-target="#myModal" data-toggle="modal" class="add-schedule-item">add a line</a>
