<h2>Schedule</h2>

<% unless @project.schedule_items.empty? %>
    <p class="description">Click any item to edit its information, or click the green button below the chart to add a new line. Schedule items can only be added for phases activated in the Project Scope.</p>
    <div class="contain">
        <div class="gantt"></div>
    </div>
    <a href="/projects/<%= @project.id %>/schedule_items/new" data-target="#myModal" data-toggle="modal" class="add-schedule-item">Add a line</a>
    <a href="/projects/<%= @project.id %>/schedule_full" target="_blank" class="text-link">View full schedule</a>

<% else %>
    <p>This project's schedule has not been set up yet.</p>
    <a href="/projects/<%= @project.id %>/schedule_items/new" data-target="#myModal" data-toggle="modal" class="add-schedule-item">Let's get started!</a>
<% end %>


<!-- modal to edit schedule items -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit Schedule Item</h3>
    </div>
    <div class="modal-body">
    </div>
</div>
<!-- end modal -->


