<h3>Scope Summary</h3>
  					<div class="notes">
						
					</div>
  				
  					<div class="row"> 
  										
  						<div class="well well-white span3-75">
  					
								<h4>Services Provided</h4><br />
								<ul>
									<li>Programming</li>
									<li>Pattern Writing - Full</li>
									<li>Site Evaluation/Planning</li>
									<li>LEED Platinum</li>
									<li>Building Commissioning</li>
								</ul>
						</div>
						
						<div class="well well-white span3-75">
								<h4>Reimbursables</h4><br />
								<ul>
									<li>Reproduction costs (prints, copies, plots)</li>
									<li>Postage and delivery service fees</li>
								</ul>
						</div>
						
						<div class="well well-white span3-75">
								<h4>Consultants</h4><br />
								<ul>
									<li>Specifications</li>
									<li>Structural</li>
									<li>HVAC</li>
									<li>Electrical</li>
									<li>Plumbing</li>
									<li>Fire Protection</li>
									<li>Civil</li>
									<li>Landscape</li>
									<li>Cost Estimating</li>
									<li>Environmental</li>
									<li>Energy Modeling</li>
									<li>Kitchen/Food Service</li>
									<li>A/V</li>
									<li>Interpretive Planning</li>
								</ul>						
						</div>
						
					</div> 
					
					<br /><br />
  				
  					<h3>Services Provided</h3>
  					<div class="notes">
						Selected options are included in the total architectural fee. Items not selected are additional services.
					</div>
					
					<div class="control-group span13 columns4 checkbox-group">
						<div class="controls">
							<label class="checkbox"><input type="checkbox" value="1" checked>Programming</label>
							<label class="checkbox"><input type="checkbox" value="2" checked>Pattern Writing - Full</label>
							<label class="checkbox"><input type="checkbox" value="3">Pattern Writing - Outline</label>
							<label class="checkbox"><input type="checkbox" value="4">As-Built Drawings</label>
							<label class="checkbox"><input type="checkbox" value="5">Verification of As-Built Drawings</label>
							<label class="checkbox"><input type="checkbox" value="6" checked>Site Evaluation/Planning</label>
							<label class="checkbox"><input type="checkbox" value="7">Existing Facilities Surveys</label>
							<label class="checkbox"><input type="checkbox" value="8">Master Planning</label>
							<label class="checkbox"><input type="checkbox" value="9">Interior Design</label>
							<label class="checkbox"><input type="checkbox" value="10">FF&E</label>
							<label class="checkbox"><input type="checkbox" value="11">Architectural Renderings</label>
							<label class="checkbox"><input type="checkbox" value="12">Architectural Models</label>
							<label class="checkbox"><input type="checkbox" value="13">Powerpoint Presentations</label>
							<label class="checkbox"><input type="checkbox" value="14">Fundraising Materials</label>
							<label class="checkbox"><input type="checkbox" value="15">Tenant Build-out</label>
							<label class="checkbox"><input type="checkbox" value="16">Coordination of Owner's Consultants</label>
							<label class="checkbox"><input type="checkbox" value="17">As-designed Record Drawings</label>
							<label class="checkbox"><input type="checkbox" value="18">As-constructed Record Drawings</label>
							<label class="checkbox"><input type="checkbox" value="19">Assistance in CM Hiring</label>
							<label class="checkbox"><input type="checkbox" value="20" checked>Building Commissioning</label>
							<label class="checkbox"><input type="checkbox" value="21">LEED Certified</label>
							<label class="checkbox"><input type="checkbox" value="22">LEED Silver</label>
							<label class="checkbox"><input type="checkbox" value="23">LEED Gold</label>
							<label class="checkbox"><input type="checkbox" value="24" checked>LEED Platinum</label>
							<label class="checkbox"><input type="checkbox" value="25">Historic Preservation</label>
							<label class="checkbox"><input type="checkbox" value="26">Grant Application Writing</label>
						</div>
					</div>
					
					<h3>Reimbursables</h3>
  					<div class="notes">
						Reimbursable expenses are not included in the architectural fee.
					</div>
					
					<div class="control-group span13 columns4 checkbox-group">
						<div class="controls">
							<label class="checkbox"><input type="checkbox" value="1" checked>Reproduction costs (prints, copies, plots)</label>
							<label class="checkbox"><input type="checkbox" value="2" checked>Postage and delivery service fees</label>
							<label class="checkbox"><input type="checkbox" value="3">Long-distance communications</label>
							<label class="checkbox"><input type="checkbox" value="4">Photographic expenses</label>
							<label class="checkbox"><input type="checkbox" value="5">Mileage</label>
							<label class="checkbox"><input type="checkbox" value="6">Travel Expenses</label>
							<label class="checkbox"><input type="checkbox" value="7">Room & Board</label>
							<label class="checkbox"><input type="checkbox" value="8">Cost of permits, regulatory review, and approval/agency fees</label>
						</div>
					</div>
					
  					<h3>Consultants</h3>
  					<div class="notes">
						Consultants required by the project.
					</div>	
					
					<div class="control-group span13 columns4 checkbox-group">
						<div class="controls">
							<label class="checkbox"><input type="checkbox" value="1" checked>Specifications</label>
							<label class="checkbox"><input type="checkbox" value="2" checked>Structural</label>
							<label class="checkbox"><input type="checkbox" value="3" checked>HVAC</label>
							<label class="checkbox"><input type="checkbox" value="4" checked>Electrical</label>
							<label class="checkbox"><input type="checkbox" value="5" checked>Plumbing</label>
							<label class="checkbox"><input type="checkbox" value="6" checked>Fire Protection</label>
							<label class="checkbox"><input type="checkbox" value="7" checked>Civil</label>
							<label class="checkbox"><input type="checkbox" value="8" checked>Landscape</label>
							<label class="checkbox"><input type="checkbox" value="9" checked>Cost Estimating</label>
							<label class="checkbox"><input type="checkbox" value="10" checked>Environmental</label>
							<label class="checkbox"><input type="checkbox" value="11" checked>Energy Modeling</label>
							<label class="checkbox"><input type="checkbox" value="12">Liturgical</label>
							<label class="checkbox"><input type="checkbox" value="13">Acoustical</label>
							<label class="checkbox"><input type="checkbox" value="14" checked>Kitchen/Food Service</label>
							<label class="checkbox"><input type="checkbox" value="15" checked>A/V</label>
							<label class="checkbox"><input type="checkbox" value="16">IT</label>
							<label class="checkbox"><input type="checkbox" value="17">Security</label>
							<label class="checkbox"><input type="checkbox" value="18">Exhibit</label>
							<label class="checkbox"><input type="checkbox" value="19">Economic/Business Planning</label>
							<label class="checkbox"><input type="checkbox" value="20" checked>Interpretive Planning</label>
							<label class="checkbox"><input type="checkbox" value="21">Building Commissioning</label>
							<label class="checkbox"><input type="checkbox" value="22">Swimming Pool</label>
						</div>
					</div>
