<h3>Project Information</h3>
	<form class="form-horizontal">
  		<fieldset>
  					<div class="notes"></div>		
  					
  						<div class="row">
											
							<div class="span7">
							
									<div class="control-group">
										<label class="control-label">Project Name</label>
										<div class="controls">
											<input class="span5" type="text" value="Aldo Leopold Legacy Center">
										</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Project Location</label>
										<div class="controls">
											<textarea class="span5" rows="2">E15903 Levee Rd, Baraboo, WI</textarea>
										</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Client</label>
										<div class="controls">
											<input class="span5" type="text" value="Aldo Leopold Foundation">
										</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Primary Contact</label>
										<div class="controls">
											<input class="span5" type="text" value="Buddy Huffaker">
										</div>
									</div>
													
							
							</div> <!-- /span7 -->
			
							<div class="span5">
							
									<div class="control-group">
										<label class="control-label">Project Number</label>
										<div class="controls">
											<input class="span2" type="text" value="152311">
										</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Building Type</label>
										<div class="controls">
											<select name="" id="buildingType" class="span3">
              									<option>Condos</option>
												<option>Educational</option>
												<option>Financial</option>
												<option>HD Dealership</option>
												<option>Historic Restoration</option>
												<option>Hospitality</option>
												<option>Industrial</option>
												<option>Library</option>
												<option>Maintenance</option>
												<option>Manufacturing</option>
												<option>Medical Elderly</option>
												<option>Medical Clinic</option>
												<option>Medical Hospital</option>
												<option>Mixed Use</option>
												<option>Municipal</option>
												<option>Museum</option>
												<option>Offices</option>
												<option>Performing Arts</option>
												<option>Planning</option>
												<option>Recreation</option>
												<option>Religious</option>
												<option>Residential Single</option>
												<option>Residential Multi</option>
												<option>Retail</option>
												<option selected>Sustainable Design</option>
												<option>Teaching</option>
												<option>Urban Design</option>
              								</select>
              							</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Client Type</label>
            							<div class="controls">
              								<select name="" id="clientType" class="span3">
              									<option>Commercial</option>
												<option>Contractor</option>
												<option>Design Professional</option>
												<option>Developer</option>
												<option>Government</option>
												<option>Industrial</option>
												<option>Institutional</option>
												<option selected>Owner</option>
              								</select>
            							</div>
          							</div>
          						
          							<div class="control-group">
          								<label class="control-label">Project Status</label>
          								<div class="controls">
											<label class="radio">
												<input type="radio" value="option1" name="optionsRadios">
												Potential
											</label>
											<label class="radio">
												<input type="radio" checked="" value="option2" name="optionsRadios">
												Current
											</label>
											<label class="radio">
												<input type="radio" value="option3" name="optionsRadios">
												Completed
											</label>
										</div>
          							</div>
							
							</div> <!-- /span5 -->
					
						</div> <!-- /row -->
						
						<br /><br />
						
						<h3>Billing + Contract Information</h3>
						<div class="notes"></div>
						
							<div class="row">
							
								<div class="span7">
					
									<div class="control-group">
										<label class="control-label">Billing Contact</label>
										<div class="controls">
											<input class="span5" type="text" value="Buddy Huffaker">
										</div>
									</div>
          				
          							<div class="control-group">
										<label class="control-label">Billing Address</label>
										<div class="controls">
											<textarea class="span5" rows="2">E15903 Levee Rd, Baraboo, WI</textarea>
										</div>
									</div>
								
									<div class="control-group">
										<label class="control-label">Phone</label>
										<div class="controls">
											<input class="span3" type="text" value="(608) 356-1234">
											&nbsp; Ext: &nbsp;<input class="span1" id="ext" name="" type="text" />
										</div>
									</div>
          				
          							<div class="control-group">
										<label class="control-label">Email</label>
										<div class="controls">
											<input class="span5" type="text" value="buddy@aldoleopold.org">
										</div>
									</div>
          				
          			
          						</div> <!-- end span7 -->
          					
          						<div class="span5">
				
          							<div class="control-group">
										<label class="control-label">Billing Type</label>
            							<div class="controls">
              								<select name="" id="billingType" class="span3">
              									<option>Lump sum</option>
												<option>% of construction cost</option>
												<option>Hourly</option>
              								</select>
            							</div>
          							</div>
          						
          							<div class="control-group">
										<label class="control-label">Travel Time</label>
            							<div class="controls">
              								<select name="" id="travelTime" class="span3">
              									<option>Bill travel time (Phase 70)</option>
												<option>DO NOT BILL (included in fee)</option>
              								</select>
            							</div>
          							</div>
          				
          							<div class="control-group">
										<label class="control-label">Consultant Billing</label>
            							<div class="controls">
              								<select name="" id="consultantBilling" class="span3">
              									<option>Bill fees + 10% markup</option>
												<option>Bill fees with NO markup</option>
												<option>DO NOT BILL (included in fee)</option>
              								</select>
            							</div>
          							</div>
          						
          							<div class="control-group">
										<label class="control-label">Out-of-Pocket</label>
										<div class="controls">
											Bill expenses + <input class="span1" id="markup" name="" type="text" value="25"/> % markup
										</div>
									</div>
          				
  								</div> <!-- end span5 -->
  							
  							</div> <!-- end row -->	
  			</fieldset>
  		</form>
			