<%= form_for @project do |f| %>

	<%= render 'project_header', f: f %>

    <h2>Test</h2>

    <ul class="link-list">
    	<% @employee_teams.each do |team| %>
    		<li><a href="<%= edit_project_employee_team_path(team.project_id, team.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= team.user.name %></a></li>
    	<% end %>
	</ul>
<% end %>

<!-- modal for employee target edit -->
		<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    	<h3 id="myModalLabel"> </h3>
		  	</div>
		  	<div class="modal-body"></div>
		</div>
<!-- end modal -->