            <div class="wide">
                <div class="input-row">
                    <%= f.label :consultant_role_name, class: "input-label" %>
                    <%= f.text_field :consultant_role_name %>
                </div>       
            </div>


