<% content_for :page_header do %>
	<% provide :title, "Consultant Roles" %>
	<div class="page-header">
		<h1>Consultant Roles</h1>
		<%= link_to "Add Consultant Role", new_consultant_role_path, class: "btn btn-primary btn-right" %>
	</div>
<% end %>

<ul class="link-list">
	<% @consultant_roles.each do |param| %>
			<li>
				<%= link_to param.consultant_role_name, edit_consultant_role_path(param.id) %>
				<% if signed_in? %>
					<% if current_user.admin? %>
					| <%= link_to "delete", param, method: :delete, confirm: "You sure?" %>
					<% end %>
				<% end %>
			</li>
	<% end %>
</ul>

