<li>
<%= image_tag pattern.diagram.url(:thumb), class: "img-thumb" %>
  <%= link_to pattern.name, edit_pattern_path(pattern) %>
  <%= Project.find(pattern.project_id).name %>
  <% if current_user.admin? %>
    | <%= link_to "delete", pattern, method: :delete, confirm: "You sure?" %>
  <% end %>
</li>