
					<tr class="results-row">
						<td><%= link_to "#{f.number}", edit_pattern_path(f) %></td>
		                <td class="bold"><%= link_to "#{f.name}", edit_pattern_path(f) %></td>
		                <td><%= Project.find(f.project_id).name %></td>
		            </tr>