<%= form_for(@pattern, :html => { :multipart => true }) do |f| %>

    <% provide :title, @pattern.name %>
    <div class="page-header">
      <h1><%= f.text_field :name, class: "pattern-name" %></h1>
    </div>

    <%= render 'fields', f: f %>

    <div class="save-row">
        <%= f.submit "Update Pattern", class: "btn btn-primary save-btn" %>
    </div>

<% end %>
