<% content_for :page_header do %>
  <% provide :title, "Patterns Index" %>
  <div class="page-header">
    <h1>Patterns Index</h1>
  </div>
<% end %>

<%= link_to "Add Pattern", new_pattern_path, class: "btn" %>
<%= render @patterns %>