
<div class="tabnav timesheets">
	<%= form_for @timesheet do |f| %>
		<%= f.select(:selected_year, Timesheet::YEARS, { :selected => params[:year] }, :class => "span1-5"  ) %>
		<% @year = params[:year] ||= Time.now.year %>
		<% array = (1..26).to_a %>
		<% array.each do |x| %>
			<%= link_to "#{x}", "/employees/#{@timesheet.employee_id}/timesheets/#{@year}/#{x}", :class => is_week?("#{x}") %>
		<% end %>

	<% end %>
</div>
