
<div class="tabnav timesheets">
	<%= form_for @timesheet do |f| %>
		<%= f.select(:selected_year, Timesheet::YEARS, { :selected => params[:year] }, :class => "date-select"  ) %>

		<% week_array(this_year).each do |x| %>
			<%= link_to "#{x}", "/employees/#{@timesheet.employee_id}/timesheets/#{this_year}/#{x}", :class => is_week?("#{x}")  %>
		<% end %>

	<% end %>
</div>
