<%= form_for @timesheet do |f| %>
	<table class="tabnav timesheets">
		<tr>
		<% week_array(f.object.year).each do |x| %>
			<% date_string = parse_date(x, f.object.year) %>
			<td><%= link_to "#{x}", "/users/#{f.object.user_id}/timesheets/#{f.object.year}/#{x}", class: is_week?("#{x}", f.object.year), title: "#{date_string}" %></td>
		<% end %>
		</tr>
	</table>
<% end %>