<%= form_for @timesheet do |f| %>
	<table class="tabnav timesheets">
		<tr>
		<% week_array(@year).each do |x| %>
			<% date_string = parse_date(x, @year) %>
			<td><%= link_to "#{x}", "/users/#{@timesheet.user_id}/timesheets/#{@year}/#{x}", class: is_week?("#{x}", @year), title: "#{date_string}" %></td>
		<% end %>
		</tr>
	</table>
<% end %>