<% content_for :page_header do %>
  <% provide :title, "Add New Timesheet" %>
  <div class="page-header">
    <h1>Add New Timesheet</h1>
  </div>
<% end %>

<%= form_for(@timesheet, html: { class: "form-horizontal half-width-labels" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'fields', f: f %>
  
  <br /><br />

    <div class="row">
        <div class="span12">
            <div class="actions">
                <%= f.submit "Create", class: "btn btn-large btn-primary span3" %>
            </div>
        </div>
    </div>

<% end %>
