            <div class="wide">
            	<div class="input-row">
                    <%= f.label :order, class: "input-label" %>
                    <div class="note">letter order (A, B, C...)</div>
                    <%= f.text_field :order, class: "input-tiny" %>
                </div>  
                <div class="input-row">
                    <%= f.label :name, class: "input-label" %>
                    <%= f.text_field :name %>
                </div>       
            </div>
