<h1>Global Values</h1>
<br /><br />
<table class="table right-align">
    <thead>
        <tr>
            <th>Year</th>
            <th>Multiplier</th>
            <th>Mileage</th>
        </tr>
    </thead>
    <tbody>
    	<% @globals.each do |param| %>
        <tr>
            <td><%= link_to param.year, "globals/#{param.year}" %></td>
            <td><%= param.multiplier %></td>
            <td><%= param.mileage %></td>
        </tr>
		<% end %>
    </tbody>
</table>