<% provide :title, "Globals" %>
<%= link_to "Admin Panel", admin_path, class: "header-label" %>
<div class="page-header">
    <h1>Globals</h1>
</div>

<table class="table right-align">
    <thead>
        <tr>
            <th>Year</th>
            <th>Multiplier</th>
            <th>Mileage</th>
        </tr>
    </thead>
    <tbody>
    	<% @globals.each do |param| %>
        <tr>
            <td><%= link_to param.year, "globals/#{param.year}" %></td>
            <td><%= param.multiplier %></td>
            <td><%= param.mileage %></td>
        </tr>
		<% end %>
    </tbody>
</table>