<% provide :title, "Keywords" %>
<%= link_to "Admin Panel", admin_path, class: "header-label" %>
<div class="page-header">
	<h1>Key Ideas</h1>
	<%= link_to "Add Key Idea", new_keyword_path, class: "btn btn-primary btn-right" %>
</div>

<ul class="link-list">
	<% @keywords.each do |param| %>
			<li>
				<%= link_to param.name, edit_keyword_path(param.id) %>
			</li>
	<% end %>
</ul>

