
<%= form_for @potential_project do |f| %>
    
    <%= render 'fields', f: f %>
  
    <div class="save-row">
        <%= f.submit "Update Potential Project", class: "btn btn-primary save-btn" %>
    </div>

<% end %>
