<%= form_for @potential_project do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 

	<!-- modal for employee target edit -->
	<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3 id="myModalLabel"> </h3>
	  	</div>
	  	<div class="modal-body"></div>
	</div>
	<!-- end modal -->

	<h2>Fee calculation</h2>
	<p class="description">Enter target hours for each team member by phase to calculate total project fee.</p>

	<table class="table tracking-table">
		
			<thead>
                <tr>
                    <th class="bold">Team Member</th>
                    <th class="smalltext"></th>
                    <% @potential_project.available_phases.each do |phase| %>
                    	<th class="table-cell"><%= phase.number %><br /><span class="blanch"><%= phase.name %></span></th>
                    <% end %>
                    <th class="table-cell bold TotalToDate">Total</th>
                    <th class="table-cell bold Remaining">Remaining</th>
                </tr>
            </thead>

            <tbody>

<% end %>