/* CONTACTS */

	.mailing-list { margin-right:-10px; }
	.mailing-list .checkbox { width:16%; float:left; line-height:16px; }

	.list-names { float:left; }
	.list-names input { float:left; width:220px; }
	.list-names .list-item { float:left; width:275px; height:68px; overflow:hidden; padding:2px 10px 2px 0px; margin-bottom:10px; position:relative; padding:12px 15px 15px 15px; border:1px solid #e1e6eb; border-radius:8px; margin:0 5px 5px 0; }
	.list-names .list-item .name, .list-names .list-item .address { width:205px; }
	.list-names .list-item .name { margin-bottom:3px; }
	.list-names .list-item .name a { color:#1abc9c; }
	.list-names .list-item .name a:hover { color:#16a085; }

	.list-names .list-item .delete { margin:0px; position:absolute; top:10px; right:12px; }

	#documents { float:left; margin-top:20px; }
	#documents a.circle { float:left; display:block; font-size:15px; line-height:16px; color:#f1c40f; font-weight:400; width:100px; height:81px; padding:12px 0; text-align:center; border-radius:70px; border: 2px solid #f1c40f; margin-right:10px; }
		#documents a.circle:hover { background-color:#f1c40f; border-color:#f39c12; color:#fff; }

	#documents a.circle .glyphicon { display:block; text-align:center; color:#f1c40f; font-size:30px; width:20px; height:20px; margin:10px 0 0 36px; }
		#documents a.circle:hover .glyphicon { color:#fff; }

	.formatted-address { float:left; width:100%; margin-top:15px; }

	.input-row.added { color:#9ba6ac; margin-top:6px; font-style:italic; font-size:13px; }


	/* show/hide stuff on cantact page */
	a#show, a#hide, a#show-mailing, a#hide-mailing, a#show-others, a#hide-others, a#show-projects, a#hide-projects, a#show-alt, a#hide-alt { cursor:pointer; font-weight:400; font-size:13px; display:inline-block; margin-left:6px; color:#9ba6ac; font-style:italic; }
	a#show:hover, a#hide:hover, a#show-mailing:hover, a#hide-mailing:hover, a#show-others:hover, a#hide-others:hover, a#show-projects:hover, a#hide-projects:hover { color:#1abc9c; }
	a#hide, a#show.hidden, a#show-alt.hidden, a#hide-alt { display:inline-block; }
	a#hide.hidden, a#show, a#hide-mailing, a#hide-others, a#show-projects, a#hide-alt.hidden, a#show-alt { display:none; }

	#personal-info { margin-bottom:30px; float:left; }
	#alt-company { float:left; margin-bottom:20px; }
	#personal-info.hidden, #alt-company.hidden, #others { display:none; }

	#mailing-list { margin-top:35px; width:100%; float:left; }
	#mailing-list.hidden { display:none; }

	#others, #projects { float:left; margin-bottom:30px; }
	.contacts-ul li { float:left; width:100%; margin-bottom:2px; }
	.contacts-ul a { color:#16a085; }
	.contacts-ul li a:hover, .contacts-ul li a:hover .detail { color:#1abc9c; }
	.contacts-ul li a .detail { font-weight:300; font-style:italic; color:#16a085; }

	

	/* transmittal / fax */
	.transmittal { padding:30px; width:840px; }
	.transmittal .firm-logo { float:left; height:82px; width:auto; }
	.transmittal .firm-address { float:left; margin:14px 0 0 12px; font-size:12px; line-height:18px; color:#7f8b93; }
	.transmittal h1 { float:right; width:auto; margin-top:50px; font-size:24px; }
	.transmittal .info { float:left; width:420px; margin-top:30px; margin-bottom:30px; }
		.transmittal .info.last { width:390px; margin-left:30px; }
	.transmittal .info .row { float:left; margin-left:0px; margin-bottom:3px; }
	.transmittal .info .row .display-label { float:left; width:75px; text-transform:uppercase; font-size:10px; margin-top:6px; }
	.transmittal .info .row .display-data { float:left; }

	.transmittal input.display { border:none; width:300px; height:auto; color:#344953; background-color:#f4f6f9; border-radius:0px; padding:3px 6px; }
	.transmittal textarea.display { border:none; height:auto; width:300px; color:#344953; background-color:#f4f6f9; border-radius:0px; padding:3px 6px; resize:none; }

	.transmittal-table { float:left; margin-top:30px; margin-bottom:30px; }
	.transmittal-table thead th { text-transform:uppercase; font-size:10px; font-weight:400; padding-bottom:0px; }
	.transmittal-table tbody td { border-top:none; padding:4px; }
	.transmittal-table tbody td:first-child { padding-left:0px; }
	.transmittal-table input { margin-bottom:0px; }
	.transmittal-table .number input { width:55px; }
	.transmittal-table .item input { width:260px; }
	.transmittal-table .notes input { width:472px; }

	.transmittal .text { width:100%; float:left; margin-top:30px; margin-bottom:30px; }
	.transmittal .text textarea.display { width:826px; }

	@media print {
		.transmittal .info textarea.display, .transmittal .info input.display, .transmittal-table input.display 
			{ background-color:#f4f6f9 !important; }
		.transmittal .firm-address, .transmittal .firm-address .bold { color:#7f8b93 !important; }
	}

	/* envelope */
	.envelope { padding:170px 0 0 0; width:1000px; }
	.envelope .firm-logo { float:left; height:82px; width:auto; margin-top:30px; }
	.envelope .firm-address { float:left; margin:14px 0 0 12px; margin-top:44px; font-size:12px; line-height:18px; }

	.envelope .address { float:left; clear:left; margin:95px 0 0 400px; }
	.envelope textarea.display { border:none; line-height:20px; height:auto; width:340px; color:#344953; background-color:#f4f6f9; border-radius:0px; padding:3px 6px; resize:none; }


	/* company */
	.gray-box.company { margin-bottom:20px; padding:15px 27px 15px 27px; width:887px; height:auto; }
	.gray-box.company .wide .input-label { width:122px; }
	.gray-box.company .wide { width:500px; }



/* EMPLOYEES */

	.employee-list { float:left; width:100%; margin-left:0px; }
	.employee-list li { float:left; padding:12px 10px 8px; width:875px; margin-left:45px; list-style:none; background-color:#f4f6f9; border-radius:8px; margin-bottom:6px; position:relative; }
		.employee-list li:hover { background-color:#ecf0f5; }
		.employee-list li div { float:left; height:20px; }
		.employee-list li .photo { width:40px; height:40px; position:absolute; border-radius:30px; top:0px; left:-10px; border:1px solid #bcc6cc; background-color:#ecf0f5; }
			.employee-list li .photo img { width:100%; height:100%; }
		.employee-list li .name { width:150px; font-weight:900; margin-left:30px; }
			.employee-list li .name a { color:#344953; }
				.employee-list li .name a:hover { color:#1abc9c; }
		.employee-list li .ext { width:80px; }
		.employee-list li .cell { width:145px; }
		.employee-list li .email { width:185px; }
		.employee-list li .link { width:80px; }
		.employee-list li .start { width:120px; }
		.employee-list li .bday{ width:80px; }
		.employee-list li .link a.btn { color:#fff; padding:2px 8px; margin-top:-7px; font-size:13px; background-color:#ced5da; }
			.employee-list li .link a.btn:hover { background-color:#1abc9c; }
		.employee-list li label.checkbox { float:left; margin:0px 0 0 -50px; }
		.employee-list li .check {  }

	.employee-list a { color:#1abc9c; }
	.employee-list a:hover { color:#16a085; }


	.employee-list li.header { padding:0 10px; width:910px; background-color:transparent; margin-bottom:0px; font-size:10px; text-transform:uppercase; font-weight:700; }
		.employee-list li.header .name { font-weight:700; }


/* show_contact formatting (currently on edit template) */

	.show h1 { color:#2c3445; }

	.show .content { border-top:1px solid #ced5da; margin-top:8px; padding-top:10px; }
		.show .content-left { float:left; width:560px; }
			.show .content-left .notes { float:left; width:560px; margin-top:10px; }
		.show .content-right { float:right; width:380px; }

	.show .company-info { float:left; position:relative; width:500px; background-color:#f4f6f9; padding:20px 30px 60px; border-radius:8px; margin:10px 0 0 0; min-height:150px; border:2px solid #344953;}
	.show .company-info .name { float:left; width:100%; margin-bottom:10px; }
	.show .company-info .name a { color:#1abc9c; font-size:16px; }
	.show .company-info .name a:hover { color:#16a085; }
	.show .company-info .name span.count { font-weight:200; font-style:italic; font-size:13px; padding-left:4px; }

	.show .company-info .company-row { float:left; width:100%; border-top:2px solid #fff; padding-top:9px; padding-bottom:14px; }
		.show .company-info .company-row .type { float:left; width:120px; text-transform:uppercase; font-weight:200; font-size:12px; padding-top:3px; }
		.show .company-info .company-row .text { float:left; width:290px; padding-right:15px; margin:0px; }
		.show .company-info .company-row .links { float:left; width:75px; }
			.show .company-info .company-row .links a { float:left; width:100%; text-decoration:underline; font-weight:normal; font-style:italic; }
	.show .company-info #change-company { position:absolute; bottom:20px; right:30px; background-color:#fff; color:#9ba6ac; width:auto; }
	.show .company-info #cancel-change-company { padding: 12px 12px 4px; position:absolute; bottom:20px; right:30px; background-color:#fff; color:#9ba6ac; width:auto; }
	.show .company-info #change-company:hover { color:#7f8b93; background-color:#e1e6eb; }
	.show .company-info .header { font-weight:900; margin:8px 0 10px; float:left; width:145px; }

	.show .contact-info { float:right; position:relative; padding: 0 0 60px 0; width:330px; margin-left:50px; min-height:150px; }
	.show .header { font-weight:900; margin:10px 0; float:left; width:100%; }
	.show .contact-info .header.extra-margin { margin-top:20px; }
	.show .contact-info .contact-row { float:left; width:100%; padding:6px 0; }
		.show .contact-info .contact-row .type { float:left; width:95px; text-transform:uppercase; font-weight:200; font-size:12px; padding-top:3px; }
		.show .contact-info .contact-row .text { float:left; width:235px; }
		.show .contact-info .contact-row .text a.fax-cover { display:inline-block; margin-left:15px; width:auto; text-decoration:underline; font-weight:normal; font-style:italic; }
		.show .contact-info .contact-row input, .show .contact-info .contact-row textarea { width:210px; }

	.show #theLink { margin-left:145px; }
	.show #edit-contact { position:absolute; bottom:0px; right:0px;  }

	#edit-work, #edit-personal, #show-contact-work, #show-contact-personal, #edit-notes, #show-notes-button { display:none; }
	.show .edit .contact-row { padding:0px; }
	.show .edit .contact-row .type { padding-top:10px; width:75px; }
	.show .edit .contact-row input.phone { width:115px; }
	.show .edit .contact-row input.ext { width:36px; }
	.show .edit .contact-row .extension { display:inline-block; text-transform:uppercase; font-weight:200; font-size:12px; padding:0 3px;}

	.show .text-link { text-decoration:underline; font-weight:normal; font-style:italic; margin-left:10px; cursor:pointer; }

	input.form-display-field { padding:0px; border:none; margin:0px; }
	h1 input.form-display-field { color:#2c3445; font-size:28px; font-weight:900; padding-bottom:2px; margin-bottom:1px; width:660px; }
	.show .page-header .title input.form-display-field { height:auto; color:#2c3445; font-style:italic; width:660px; }

	#show-notes { float:left; width:100%; border-top:1px solid #e1e6eb; background-image:url(/assets/rule.png); padding-bottom:10px; padding-top:1px; line-height:20px; }
	.added { float:left; width:100%; color:#9ba6ac; font-style:italic; }
	.show .page-header { height:auto; margin-bottom:0px; }
	.switch-view { position:absolute; bottom:-20px; right:0px;  font-style:italic; color:red; }
	.show .switch-view { bottom:0px; }

	.company-info .note-text { float:left; margin-left:145px; font-style:italic; color:#9ba6ac; width:330px; margin-bottom:10px; }
	#clear-alt { position:absolute; right:160px; bottom:19px; background-color:#fff; color:#9ba6ac; font-size:13px; font-weight:normal; }
	#clear-alt:hover { color:#7f8b93; background-color:#e1e6eb; }


