/* RailsTutorial error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* RailsTutorial users index */

ul.users {
  margin-top: 1em;
  li {
    list-style: none;
  }
}

/* RailsTutorial microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;

  tr {
    height: 70px;

    &:nth-child(2n) td, tbody tr.even td {
      background: white
    }

    td.gravatar {
      border-top: 1px solid #ccc;
      vertical-align: top;
      width: 50px;
    }

    td.micropost {
      border-top: 1px solid #ccc;
      vertical-align: top;
      padding-top: 10px;

      span.timestamp {
        display: block;
        font-size: 85%;
        color: #666;
      }
    }
  }
}

div.user_info {
  img {
    padding-right: 0.1em;
  }
  a {
    text-decoration: none;
  }
  span.user_name {
    position: absolute;
  }
  span.microposts {
    font-size: 80%;
  }
}

form.new_micropost {
  margin-bottom: 2em;

  textarea {
    height: 4em;
    margin-bottom: 0;
  }
}