/* patterns */

.pattern { float:left; width:100%; padding:15px; margin-bottom:10px; border:2px solid #e1e6eb; border-radius:8px; }
.pattern label { width:100%; }
.pattern input, .pattern textarea { width:90%; }

.p-number { float:left; width:50px; }
.p-name { float:left; width:auto; margin-left:6px; }

.p-number input { width:26px; float:left; font-size:22px; font-weight:100; color:#34495e; text-align:center; padding-top:2px; padding-bottom:0px; }
.p-name input { width:690px; float:left; margin:0px; color:#344953; font-size:22px; font-weight:900; padding-top:2px; padding-bottom:0px; }

.p-issue { float:left; width:320px; }
.p-solution { float:left; width:317px; }
.p-diagram { float:left; width:222px; }
.p-diagram .image-file { border:2px solid #e1e6eb; min-height:134px; border-radius:6px; padding:10px; }

.p-issue label, .p-solution label, .p-diagram label { float:left; display:block; width:290px; height:18px; margin:10px 0 5px; border-bottom:1px solid #1abc9c; color:#1abc9c; font-size:9px; font-weight:900; text-transform:uppercase; }
	.p-issue label { border-color:#86cc71; color:#86cc71;}
	.p-solution label { border-color:#1abc9c; color:#1abc9c; }
	.p-diagram label { border-color:#0ba0d4; color:#0ba0d4; width:224px; }

.p-issue textarea, .p-solution textarea { width:270px; }


.v-number { float:left; width:40px; height:16px; padding:10px 0 14px; margin-bottom:30px; border-radius:20px; background-color:#34495e; color:#fff; font-size:16px; text-align:center; }
.v-name { float:left; width:300px; padding:10px 0 10px 12px; margin-right:500px; margin-bottom:10px; font-size:16px; font-weight:900; }
.v-issue { float:left; width:410px; margin-left:10px; line-height:20px; }
.v-solution { float:left; width:410px; margin-left:50px; line-height:20px; }

.v-issue:before { content:"issue"; float:left; margin-right:14px; display:inline-block; padding:2px 6px; background-color:#e1e6eb; font-size:10px; line-height:14px; text-transform:uppercase; }
.v-solution:before { content:"solution"; float:left; margin-right:10px; display:inline-block; padding:2px 6px; background-color:#e1e6eb; font-size:10px; line-height:14px; text-transform:uppercase; }

.full input.small { width:30px; }
.full textarea.pattern-text { width: 648px; }
.full input.pattern-name { width:400px; }

.project-link { float:left; margin-left:10px;  }


.edit-fields { display:none; }
.pattern input.save-btn { float:right; width:250px; margin-top:10px; margin-right:5px; }
.pattern .text-button { float:right; width:auto; padding:6px; margin:12px 10px 0 0; cursor:pointer; }

/* pattern browser */

ul#pattern-tiles { float:left; width:100%; margin:20px 0 0 0; list-style:none; }
ul#pattern-tiles li { float:left; width:92%; height:auto; padding:24px 4%; margin:0 33px 10px 0; border:2px solid #e1e6eb; border-radius:8px; }
ul#pattern-tiles li .header { float:left; width:100%; display:block; margin-bottom:8px; }	
	ul#pattern-tiles li .project { float:left; width:auto; height:20px; padding:1px 8px; margin:0 0 6px 0; background-color:#f3f6f9; font-size:10px; font-weight:300; text-transform:uppercase; }
	ul#pattern-tiles li .detail { float:left; margin:2px 0 0 8px; color:#bcc6cc; font-size:12px; font-weight:300; font-style:italic; }
ul#pattern-tiles li .footer { float:left; width:100%; margin:10px 0 0 0; color:#9ba6ac; font-size:12px; font-weight:300; font-style:italic; }
ul#pattern-tiles li .header .btn { float:right; padding:7px 14px; width:60px; font-size:13px; margin:1px 0 0 6px; }

ul#pattern-tiles li img { width:294px; height:auto; }
ul#pattern-tiles li .number { float:left; width:auto; margin:10px 8px 10px 0; clear:left; font-size:22px; font-weight:300; }
ul#pattern-tiles li .title a { float:left; width:720px; height:auto; margin:10px 0; color:#344953; font-size:22px; font-weight:900; }
ul#pattern-tiles li .title a:hover { color:#1abc9c; }

ul#pattern-tiles li .issue, ul#pattern-tiles li .solution { float:left; width:290px; margin-right:40px; }
ul#pattern-tiles li .issue:before, ul#pattern-tiles li .solution:before, ul#pattern-tiles li .diagram:before  { content:""; float:left; display:block; width:290px; height:18px; margin:10px 0; border-bottom:1px solid #1abc9c; font-size:9px; font-weight:900; text-transform:uppercase; }
ul#pattern-tiles li .diagram:before  { width:200px; }
	ul#pattern-tiles li .issue:before { content:"issue";  border-color:#86cc71; color:#86cc71;}
	ul#pattern-tiles li .solution:before { content:"solution"; border-color:#1abc9c; color:#1abc9c; }
	ul#pattern-tiles li .diagram:before { content:"image"; margin-bottom:30px; border-color:#0ba0d4; color:#0ba0d4; }

ul#pattern-tiles li .diagram { float:left; width:200px; clear:all; }

h1.pattern-header { color:#344953; font-weight:300; }
h1 .pattern-number, h1 .pattern-name { border:none; border-radius:6px; font-size:22px; color:#344953; padding:0px 3px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; } 
h1 .pattern-number { width:30px; font-weight:300; }
h1 .pattern-name { width:640px;font-weight:900; }
h1 .pattern-number:focus, h1 .pattern-name:focus { background-color:#f4f6f9; }

.page-header.pattern-header { margin-bottom:5px; }
.full.patterns { border-top:2px solid #344953; padding-top:10px; }
.patterns .wide textarea { width:550px; }
.patterns .wide .input-label { padding-bottom:2px; width:100%; }
.patterns .narrow { width:300px; margin-left:60px; margin-top:20px; }
.patterns .narrow .input-label { width:110px; }

.full.patterns select.project-name { width:423px; }
.patterns .narrow .image-box { width:308px; }
.patterns .narrow .image-placeholder { width:280px; height:280px; }
.patterns .narrow .add-image.no-x { margin-right:5px; }
.patterns .narrow .input-label.no-margin { padding-bottom:3px; }

.input-row.added { color:#9ba6ac; margin-top:6px; font-style:italic; font-size:13px; }
