/* patterns */

.pattern { float:left; width:100%; padding:15px; margin-bottom:10px; border:2px solid #e1e6eb; border-radius:8px; }
.pattern label { width:100%; }
.pattern input, .pattern textarea { width:90%; }

h2.patterns { border-bottom:2px solid #344953; }

.p-number { float:left; width:50px; }
.p-name { float:left; width:auto; margin-left:6px; }

.p-number input { width:26px; float:left; font-size:22px; font-weight:300; color:#34495e; text-align:center; padding-top:2px; padding-bottom:0px; }
.p-name input { width:690px; float:left; margin:0px; color:#344953; font-size:22px; font-weight:900; padding-top:2px; padding-bottom:0px; }

.p-issue { float:left; width:320px; margin-right:12px; }
.p-solution { float:left; width:317px; margin-right:12px; }
.p-images { float:left; width:200px; }
.p-diagram, .p-photo { float:left; width:222px; }
/*.p-diagram .image-file, .p-photo .image-file { border:2px solid #e1e6eb; border-radius:6px; padding:3px 10px; height:auto; }*/
.image-upload { position:relative; float:left; height:auto; width:100%; cursor:pointer; }
.image-upload input:disabled { background:#fff; border:none; margin:0px; padding:0px; width:100%; cursor:pointer; }
input.uploadFile { display:none; }

.fileUpload { position: relative; overflow: hidden; margin:0px; width:176px; cursor:pointer; }
.fileUpload span { cursor:pointer; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

.p-issue label, .p-solution label, .p-diagram label, .p-photo label, .p-images label  { float:left; display:block; width:290px; height:18px; margin:10px 0 5px; border-bottom:1px solid #1abc9c; color:#1abc9c; font-size:9px; font-weight:900; text-transform:uppercase; }
	.p-issue label { border-color:#86cc71; color:#86cc71;}
	.p-solution label { border-color:#1abc9c; color:#1abc9c; }
	.p-diagram label, .p-photo label, .p-images label  { border-color:#0ba0d4; color:#0ba0d4; width:224px; }

.p-issue textarea, .p-solution textarea { width:270px; }


.v-number { float:left; width:40px; height:16px; padding:10px 0 14px; margin-bottom:30px; border-radius:20px; background-color:#34495e; color:#fff; font-size:16px; text-align:center; }
.v-name { float:left; width:300px; padding:10px 0 10px 12px; margin-right:500px; margin-bottom:10px; font-size:16px; font-weight:900; }
.v-issue { float:left; width:410px; margin-left:10px; line-height:20px; }
.v-solution { float:left; width:410px; margin-left:50px; line-height:20px; }

.v-issue:before { content:"issue"; float:left; margin-right:14px; display:inline-block; padding:2px 6px; background-color:#e1e6eb; font-size:10px; line-height:14px; text-transform:uppercase; }
.v-solution:before { content:"solution"; float:left; margin-right:10px; display:inline-block; padding:2px 6px; background-color:#e1e6eb; font-size:10px; line-height:14px; text-transform:uppercase; }

.full input.small { width:30px; }
.full textarea.pattern-text { width:648px; }
.full input.pattern-name { width:400px; }

.project-link { float:left; margin-left:10px;  }


.edit-fields { display:none; }
.pattern input.save-btn { float:right; width:250px; margin-top:10px; margin-right:5px; }
.pattern .text-button { float:right; width:auto; padding:6px; margin:12px 10px 0 0; cursor:pointer; }

/* pattern browser */

ul#pattern-tiles { float:left; width:100%; margin:20px 0 0 0; list-style:none; }
ul#pattern-tiles li { float:left; width:92%; height:auto; padding:24px 4%; margin:0 33px 10px 0; border:2px solid #e1e6eb; border-radius:8px; }
ul#pattern-tiles li .header { float:left; width:100%; display:block; margin-bottom:8px; }	
	ul#pattern-tiles li .project { float:left; width:auto; height:20px; padding:1px 8px; margin:0 0 6px 0; background-color:#f3f6f9; font-size:10px; font-weight:300; text-transform:uppercase; }
	ul#pattern-tiles li .detail { float:left; margin:2px 0 0 8px; color:#bcc6cc; font-size:12px; font-weight:300; font-style:italic; }
ul#pattern-tiles li .footer { float:left; width:100%; margin:10px 0 0 0; color:#9ba6ac; font-size:12px; font-weight:300; font-style:italic; }
ul#pattern-tiles li .header .btn { float:right; padding:7px 14px; width:60px; font-size:13px; margin:1px 0 0 6px; }

ul#pattern-tiles li img { width:294px; height:auto; }
ul#pattern-tiles li .number { float:left; width:auto; margin:10px 8px 10px 0; clear:left; font-size:22px; font-weight:300; }
ul#pattern-tiles li .title a { float:left; width:720px; height:auto; margin:10px 0; color:#344953; font-size:22px; font-weight:900; }
ul#pattern-tiles li .title a:hover { color:#1abc9c; }

ul#pattern-tiles li .images { float:left; width:200px; }

ul#pattern-tiles li .issue, ul#pattern-tiles li .solution { float:left; width:290px; margin-right:40px; }
ul#pattern-tiles li .issue:before, ul#pattern-tiles li .solution:before, ul#pattern-tiles li .diagram:before, ul#pattern-tiles li .photo:before { content:""; float:left; display:block; width:290px; height:18px; margin:10px 0; border-bottom:1px solid #1abc9c; font-size:9px; font-weight:900; text-transform:uppercase; }
ul#pattern-tiles li .diagram:before, ul#pattern-tiles li .photo:before  { width:200px; }
	ul#pattern-tiles li .issue:before { content:"issue";  border-color:#86cc71; color:#86cc71;}
	ul#pattern-tiles li .solution:before { content:"solution"; border-color:#1abc9c; color:#1abc9c; }
	ul#pattern-tiles li .diagram:before { content:"diagram"; text-align:left; margin-bottom:15px; border-color:#0ba0d4; color:#0ba0d4; }
	ul#pattern-tiles li .photo:before { content:"photo"; text-align:left; margin-bottom:15px; border-color:#0ba0d4; color:#0ba0d4; }

ul#pattern-tiles li .diagram, ul#pattern-tiles li .photo { float:left; width:200px; max-height:260px; overflow:hidden; clear:all; text-align:center; margin-bottom:8px; }
ul#pattern-tiles li .diagram img, ul#pattern-tiles li .photo img { width:200px; max-height:200px; width:auto; height:auto; }

/* no diagram */
ul#pattern-tiles li.no-diagram .issue, ul#pattern-tiles li.no-diagram .solution { width:410px;  }
ul#pattern-tiles li.no-diagram .solution { margin-right:0px; }
ul#pattern-tiles li.no-diagram .diagram, ul#pattern-tiles li.no-diagram .photo { display:none; }
ul#pattern-tiles li.no-diagram .issue:before, ul#pattern-tiles li.no-diagram .solution:before { width:410px; }

h1.pattern-header { color:#344953; font-weight:300; }
h1 .pattern-number, h1 .pattern-name { border:none; border-radius:6px; font-size:22px; color:#344953; padding:0px 3px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; } 
h1 .pattern-number { width:30px; font-weight:300; }
h1 .pattern-name { width:640px; font-weight:900; }
h1 .pattern-number:focus, h1 .pattern-name:focus { background-color:#f4f6f9; }

.page-header.pattern-header { margin-bottom:5px; }
.full.patterns { border-top:2px solid #344953; padding-top:5px; padding-bottom:10px; }
.full.patterns.last { border-bottom:2px solid #344953; padding-bottom:10px; }
.patterns .wide textarea, .patterns .wide input[type="text"] { width:550px; }
.patterns .wide .input-label { padding-bottom:2px; width:100%; }
.patterns .narrow { width:300px; margin-left:60px; }
.patterns .narrow .input-label { width:100%; padding-bottom:2px; }
.patterns .narrow .note { margin-top:0px; width:90%; line-height:15px; color:#7f8b93; }

.full.patterns select.project-name { width:423px; margin-right:20px; }
.patterns .narrow .image-box { width:308px; }
.patterns .narrow .add-image { margin-right:35px; }
.patterns .narrow .add-image.no-x { margin-right:5px; }
.patterns .narrow .input-label.no-margin { padding-bottom:3px; }
.patterns .narrow label[for="pattern_delete_diagram"], .patterns .narrow label[for="pattern_delete_photo"], .patterns .narrow label.pattern_image_delete_photo { top:-22px; right:10px; font-size:13px; width:auto; color:#7f8b93; font-family:"Asap"; font-style:italic; }
.patterns .narrow label[for="pattern_delete_photo"]:hover, .patterns .narrow label[for="pattern_delete_diagram"]:hover, .patterns .narrow label.pattern_image_delete_photo:hover { color:#1abc9c; }
.pattern_image_delete_photo a {font-weight:400; }

.input-row.top-margin { margin-top:10px; }
.input-row.spacer { margin-top:30px; }

.narrow input.pattern-caption { width:280px; }
.narrow input.pattern-caption.hidden { display:none; }

.patterns .narrow .custom-select.pattern-group { width:300px; }

.patterns .wide .input-row.single-line label { width:100px; padding-top:6px; }
.patterns .wide .input-row.single-line input, .patterns .wide .input-row.single-line textarea { width:450px; }

.input-row.added { color:#9ba6ac; margin-top:10px; font-style:italic; font-size:13px; }

.input-row.dark label.input-label { color:#344953; font-weight:700; }
.input-row.dark textarea { border-color:#344953; }

.pattern-text.background { color:#7f8b93; }

img.pattern-image { float:left; width:300px; height:auto; margin-bottom:10px; border:1px solid #7f8b93; }


/* keywords */
a#show-keywords, a#hide-keywords { cursor:pointer; font-weight:400; font-size:13px; display:inline-block; margin-left:6px; color:#9ba6ac; font-style:italic; }
/*a#hide-keywords { display:none; }*/
a#show-keywords { display:none; }
.keywords { /*display:none;*/ float:left; width:100%; }
.keywords label { float:left; width:155px; }

ul.key-idea-list { float:left; display:block; margin-left:0px; }
ul.key-idea-list li { list-style:none; display:block; float:left; width:102px; margin-right:15px; height:170px; }
ul.key-idea-list li a { display:block; float:left; width:100%; font-weight:700; font-size:14px; line-height:20px; text-align:center; }
ul.key-idea-list li a:hover { color:#1abc9c; }
ul.key-idea-list li a:hover .user-round-med { border-color:#1abc9c; }
ul.key-idea-list li a .text { display:block; padding-left:6px; }
.user-round-med { border-radius:100px; border:2px solid #bcc6cc; margin-bottom:4px;  }


/* Print Letter */

.print-header { position:fixed; top:0px; width:100%; height:50px; background-color:#2984b6; color:#fff; z-index:1000; box-shadow:0px 3px 8px #aaa;}
.print-header .container { margin:0px auto; width:940px; }
.print-header ul.options { float:left; width:820px; margin:10px auto 0; }
.print-header ul.options li { float:left; list-style:none; margin:0 4px 0 0; padding:5px 15px; background-color:#0ba0d4; }
.print-header ul.options li:hover { background-color:#fff; color:#2984b6; cursor:pointer; }
.print-header ul.options li.disabled, .print-header ul li.disabled:hover { background-color:transparent; color:#fff; padding-left:0px; }

.print-header ul.glyphs { float:right; width:120px; margin:12px auto 0; font-size:28px; }
.print-header ul.glyphs li { float:right; margin:0 0 0 12px; color:#0ba0d4; }
.print-header ul.glyphs li.glyphicon-floppy-save { padding-top:2px; }
.print-header ul.glyphs li:hover { color:#fff; cursor:pointer; }

ul#pattern-tiles.print-letter li { float:left; width:800px; height:auto; padding:0px; margin:0 0 30px 0; border:none; page-break-inside: avoid; }
ul#pattern-tiles.print-letter li .title { float:left; width:720px; height:auto; margin:10px 0; color:#344953; font-size:22px; font-weight:900; }
ul#pattern-tiles.print-letter li .issue, ul#pattern-tiles.print-letter li .solution { width:100%; margin-right:0px; margin-left:80px; }
ul#pattern-tiles.print-letter li .issue:before, ul#pattern-tiles.print-letter li .solution:before { float:left; display:block; width:auto; height:18px; margin:1px 0 0 -80px; padding-right:10px; border-bottom:none; font-size:10px; font-weight:900; text-transform:uppercase; }

ul#pattern-tiles.print-tabloid { width:2000px; }
ul#pattern-tiles.print-tabloid .column { float:left; height:900px; }
ul#pattern-tiles.print-tabloid li { float:left; width:360px; height:auto; padding:0px; margin:0px; border:none; page-break-inside: avoid; }
ul#pattern-tiles.print-tabloid li .header { float:left; width:100%; height:auto; margin:0 0 6px 0; color:#344953; font-size:16px; font-weight:900; }
ul#pattern-tiles.print-tabloid li .header .number { font-size:16px; float:left; padding:0px; margin:0 5px 0 0; }
ul#pattern-tiles.print-tabloid li .header .title { float:left; }

@media print {
	.print-header { display:none; }
}

.tabloid-layout { float:left; width:1500px; height:800px; overflow:hidden; background-color:#f1f1f1 !important;}
.column { float:left; width:335px; margin-right:40px; height:800px; background-color:#ccc !important; }
.block { float:left; width:335px; padding-bottom:10px; background-color:#ccc !important; }

.tabloid-columns { 
	float:left; width:1400px;
	background-color:#f1f1f1; 
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    }


/* JQTE Plaintext */
#bkg-edit { display:none; }
#bkg-display { padding-top:0px; }
#bkg-display .btn { margin-top:6px; }
#bkg-edit .btn { margin-top:10px; }

.jqte-plaintext { width:100%; line-height:24px; float:left; margin-top:6px; margin-bottom:10px; }
.jqte-plaintext li { line-height:24px; }
.jqte-plaintext ul, .jqte-plaintext ol { margin-bottom:0px; }
.jqte-plaintext b, .jqte_editor b, .jqte_editor a  { font-weight:900; font-size:13px;}
.jqte-plaintext a { color:#0ba0d4; text-decoration:underline; font-size:13px; }
.jqte-plaintext a:hover { color:#2984b6; }

.jqte_editor a { color:#0ba0d4; }

