/* TIMESHEETS index */

	/* calendar */
	#calendar { float:left; width:598px; margin-top:20px; }
	#calendar h2 { width:595px; text-align:center; font-size:14px; font-weight:900; padding-bottom:3px; }
	#calendar h2 .previous-month, #calendar h2 .next-month { float:left; width:30px; height:30px; border:1px solid #ddd; border-radius:30px; background-image:url(/assets/select-arrow.png); background-position:0px 2px; background-repeat:no-repeat; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
	#calendar h2 .next-month { float:right; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }
	#calendar h2 .previous-month:hover, #calendar h2 .next-month:hover { border-color:#1abc9c; background-image:url(/assets/select-arrow-green.png);}

	.simple-calendar { width:auto; float:left; }
	.simple-calendar .day { height:80px; width:81px; border:1px solid #ced5da; text-align:center; }
	.simple-calendar .day div { font-size:11px; width:62px; margin:0 6px 0 10px; padding:0px; }
	.simple-calendar .day.not-current-month { background-color:#ecf0f5; color:#bcc6cc; } 
	.simple-calendar div.day_number { font-size:30px; font-weight:200; margin:0 auto;}
	.simple-calendar .day.today { background-color:#1abc9c; color:#fff; border:4px solid #f1c40f; height:72px; width:73px; }
	.simple-calendar .day.events { background-color:#f1c40f; color:#34495e; }
	.simple-calendar .day.past { background-image:url(/assets/calendar.png); background-repeat:no-repeat; }
	.simple-calendar .day.past.events { background-image:url(/assets/calendar-dark.png); }


/* TIMESHEETS edit/view */


	.page-header ul.controls li .status { width:auto; text-transform:uppercase; text-align:right; border-radius:8px; margin:14px 3px 0 0; font-size:15px; }
		.page-header ul.controls li .status.open { color:#86cc71; font-weight:700;}
		.page-header ul.controls li .status.closed { color:#e64c3c; }

	.spacer { width:49px; height:34px; margin:2px 4px 2px 0; }

	/* not used */
	.switch-box { position:relative; }
	.switch-box .shield { position:absolute; width:100%; height:100%; top:0px; }

	.add-project-link { float:left; display:block; margin-top:-5px; margin-bottom:-50px; background-color:#bcc6cc; color:#fff; padding:6px 12px; border-radius:6px; }
	.add-project-link:hover { background-color:#1abc9c; color:#fff; }

    .table-main.timesheets     { float:left; width:100%; margin:20px 0 0 0; }
    .table-main.timesheets.non-billable     { margin:20px 0 20px 0; }
    .table-main.timesheets .table-head {  }

    .table-body     { float:left; width:100%;}
    .table-row      { float:left; width:935px; padding:4px 0 0 0; }

    .table-row.first    { border-top:2px solid #344953; }
    .timesheets.non-billable .table-head { border-bottom:2px solid #344953; }

    .table-head { padding-left:0px; border-bottom:2px solid #333;  }
	.chzn-select, .chzn-container { float:left; }

    .timesheets .table-head     	{ float:left; width:100%; padding:0px; border-bottom:none; font-size:13px; font-weight:900; }
	.timesheets .table-head .cell 	{ float:left; padding-top:5px; margin:0px 2px 0px 2px; }
	.timesheets .table-body .table-row { padding:0px 0px 0px 8px; border-bottom:1px solid #e1e6eb;}
		.timesheets .table-body .table-row.holiday { background-color:#e1f0f3; width:932px; padding-top:2px; height:40px; }
			.complete .timesheets .table-body .table-row.holiday{height:35px; }
			.print .timesheets .table-body .table-row.holiday{height:30px; }
		.timesheets .table-body .table-row:first-child.holiday { margin-top:0px; }
		.timesheets .table-body .table-row.holiday .entry-spacer { background-color:#fff; border-color:#b3dbe4; }
		.timesheets .table-body .table-row.holiday .category-cell, .timesheets .table-body .table-row.holiday .description-cell, 
		.timesheets .table-body .table-row.holiday .entry-spacer
				{ color:#0ba0d4; }
		.timesheets .table-body .table-row.holiday .category-cell, .timesheets .table-body .table-row.holiday .description-cell { padding-top:8px; }
		.complete .timesheets .table-body .table-row.holiday .category-cell, .complete .timesheets .table-body .table-row.holiday .description-cell { padding-top:4px; }
		.print .timesheets .table-body .table-row.holiday .category-cell, .print .timesheets .table-body .table-row.holiday .description-cell { padding-top:6px; }

	.timesheets .table-body .table-row:first-child { padding-top:2px; }
	.timesheets .custom-select { padding:4px 3px; }
	.timesheets .delete { margin:8px 0 8px 6px; }
	.timesheets.non-billable .table-head     	{ float:left; }

 	/* project */
 	.timesheet-tab { width:130px; margin-top:16px; font-weight:900; }
 	.timesheets .table-head .project-name { width:232px; margin:22px 4px 0 0; }
	.timesheets .project-name.custom-select  { width:230px; margin:2px 4px 2px -8px; padding: 4px 30px 4px 5px;  /* extra padding at right is to prevent longer project names from overflowing over the down arrow */ }
	.timesheets .project-name.custom-select.hidden { display:none; }

	.timesheets .table-body .project-cell { width:224px; float:left; padding:8px 0 8px 6px; border-radius:8px; margin:4px 6px 0 -10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
		.timesheets .table-body .view .project-cell { padding:4px 0 4px 6px; }

		.timesheets .table-body .project-cell a { color:#16a085; font-weight:700; }
		.timesheets .table-body .project-cell a:hover { color:#1abc9c; }

 	/* phase */
 	.timesheets .table-head .phase { width:58px; margin-top:22px; }
	.timesheets .table-body .phase.custom-select { width:60px; margin:2px 4px 2px 0; }
		.timesheets .table-body .phase-cell { width:39px; float:left; padding:4px 0; margin:4px 25px 4px 0px; text-align:center; }

	/* task */
	.timesheets .table-head .task { width:184px; margin-top:22px; }
	.timesheets .table-body .task.custom-select { width:186px; margin:2px 4px 2px 0; padding: 4px 30px 4px 5px; }
		.timesheets .table-body .view .task-cell { width:178px; float:left; padding:4px 0 4px 6px; margin:4px 5px 4px 0px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
	.timesheets .table-body .task-writein { width:162px; float:left; margin:2px 4px 0 0; }
	.timesheets .table-body .task-writein.hidden { display:none; }
	.timesheets .table-body .task.custom-select.hidden { display:none; }

	/* time entries */
	.timesheets .table-head .date { float:left; width:41px; padding:4px 4px 0 4px; font-size:11px; font-weight:400; text-align:center; text-transform:uppercase; }
	.timesheets .table-head .date.today { color:#f1c40f; }
	.timesheets .table-head .date .blanch { width:40px; padding:4px 0 0 0; margin:0px; font-size:15px; font-weight:900; text-align:center; }
	.timesheets .time-entries { float:left; height:36px;}
		.timesheets .view .time-entries { float:left; height:34px;}
 	.timesheets .time-entries .entry { float:left; }
 	.timesheets .time-entries .text-input { width:39px; height:32px; padding:0px 3px; margin:2px 4px 2px 0; text-align:center; }
 		 	.timesheets .saved .editable .time-entries .text-input, .timesheets .saved .editable .custom-select { border-color:#1abc9c; }
			.timesheets .saved .editable .time-entries .text-input:focus { border-color:#16a085; }
 	.timesheets .time-entries .text-input.weekend { background-color:#f4f6f9; }
	.timesheets .time-entries .entry.today .text-input { border-color:#f1c40f; }
	.timesheets .time-entries .entry.today .text-input:focus { border-color:#5bae60; }

	/* uneditable time entries */
	.timesheets .time-entries .entry .entry-spacer { width:39px; height:18px; padding:6px 3px 8px; margin:2px 4px 1px 0; text-align:center; border: 2px solid #f4f6f9; font-size: 14px; text-indent: 0px; font-family: "Lato", sans-serif; -webkit-appearance: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; display: inline-block; line-height: 20px; vertical-align: middle;}
			.complete .timesheets .time-entries .entry .entry-spacer, .complete .timesheets .holiday .time-entries .entry .entry-spacer { height:16px; padding:4px 3px 6px; margin-top:3px; }
	.timesheets .time-entries .entry .entry-spacer.weekend { background-color:#f4f6f9; }
	.timesheets .time-entries .entry.today .entry-spacer { border-color:#f1c40f; }

 	/* total */
 	.timesheets .table-head .total { float:left; width:48px; padding:0px 4px; margin:26px 0 0 0; text-align:center; }
	.timesheets .table-body .total { float:left; width:40px; height:21px; padding:12px 0 6px 5px; margin:0px 4px 0px 4px; font-size:13px; font-weight:900; text-align:center; }

	/* nb - category */
	.timesheets .table-head .category { width:198px; padding-left:0px; margin-top:0px; margin-left:0px; }
	.timesheets .category.custom-select { width:208px; margin:2px 4px 2px -8px; }
		.timesheets .table-body .category-cell { width:204px; float:left; padding:4px 0 4px 6px; margin:4px 5px 4px -10px; }

	/* nb - description */
	.timesheets .table-head .nb-description { float:left; width:270px; padding-left:12px; margin-top:17px; }
	.text-input.nb-description { float:left; width:248px; height:32px; margin:2px 4px 2px 0; text-align:left; }
		.timesheets .table-body .description-cell { width:264px; float:left; padding:4px 0 4px 6px; margin:4px 5px 4px 0px; }

	/* add link */
  	.add-link       { float:left; display:block; padding:2px 0 0 26px; margin-top:3px; background:url(/assets/add-mini-tall.png); background-repeat:no-repeat; font-family:Argumentum-Medium; text-decoration:none; }
  	.add-link-sm    { float:left; display:block; height:25px; padding:3px 0 0 26px; margin-top:3px; background:url(/assets/add-mini.png); background-repeat:no-repeat; font-family:Argumentum-Medium; text-decoration:none; }
  	.table-main .add-link   { width:93%; height:20px; padding-top:10px; padding-left:32px; margin-top:-1px; border-top:1px solid #555; background-position:8px 5px; }

  	/* footer */
    .table-footer     { float:left; width:101%; margin:0px; border-top:2px solid #000; }
    	.table-footer .span { width:453px; margin-left:492px; }
    		.table-footer .sum { float:left; width:30px; height:22px; padding:7px 9px 4px 9px; margin:2px 3px 2px 2px; font-size:13px; font-weight:400; text-align:right; }
			.table-footer .total { float:left; width:45px; height:20px; padding:10px 5px 6px 5px; margin:0 3px 0 4px; font-size:13px; font-weight:900; text-align:center; }

    /* unsaved */
    .table-body .table-row.unsaved { width:932px; padding-top:4px; margin-top:2px; margin-bottom:1px; border-radius:4px; background-color:#ecf0f5; }
	.table-body .table-row.unsaved .delete { display:none; }
	.timesheets .unsaved .project-name.custom-select  { width:230px; margin:2px 4px 4px 0px; }
	.timesheets .unsaved .category.custom-select { width:200px; margin:2px 4px 4px 0px; }

	/* add a row */
	.add.timesheets { width:120px; margin:10px 0 0 0; }
	.add.timesheets:after { content:"add a line"; }
	.add.add-project { width:200px; margin:10px 0 0 0; }
	.add.fui-plus.add-project:before { background-color:#f1c40f; }
	.add.add-project:after { content:"add a project to my list"; color:#f1c40f; }
		.add.fui-plus.add-project:hover:before { background-color:#f39c12; }
		.add.add-project:hover:after { color:#f39c12; }

	/* summary */

	.summary { float:left; position:relative; width:100%; width:853px; padding:6px 4px 2px 4px; margin:5px 0; border-radius:6px 0 0 6px; background-color:#2c3445; color:#fff; }
		.summary .summary-label { float:left; width:438px; height:24px; padding:12px 8px 7px 12px; }
		.summary .span { float:left; width:371px; height:38px; margin-left:24px; }
			.summary .span .sum { float:left; width:36px; height:20px; padding:9px 4px 4px 4px; margin:1px 3px 2px 2px; border:2px solid #344953; border-radius:6px; background-color:#344953; font-size:13px; font-weight:400; text-align:center; }
			.summary .span .total { float:left; width:50px; height:20px; padding:10px 5px 6px 5px; margin:0 9 0 4px; font-size:13px; font-weight:900; text-align:center; }
				.summary .span .sum.today { border-color:#f1c40f; }
	.table-main.timesheets .table-head.summary-header { border-bottom:none; }
	.timesheet-total { float:left; width:50px; height:16px; padding:17px 19px 18px 10px; margin-top:5px; border-radius:0 6px 6px 0; background-color:#2c3445; color:#fff; font-size:14px; }

.switch-box { float:right; margin-top:-85px; font-size:16px; background-color:#f1c40f; color:#fff; text-align:center; border-radius:8px; width:80px; height:26px; padding:4px 0 0 0; }
.switch-box.closed { background-color:#bcc6cc; }

.inline-edit-link { margin-left:5px; }

.reopen {display:none; }
.complete .reopen { display:block; }

.timesheets.gray-box { height:auto; padding:20px 35px; width:870px; margin-bottom:10px; margin-top:10px; }
	.timesheets.gray-box .input-label { color:#2c3445; font-weight:900; font-size:13px; margin-bottom:6px; }

.timesheets.gray-box #notes { float:left; width:290px; margin-right:50px; }
	.timesheets.gray-box #notes .input-label { float:left; width:100% }
	.timesheets.gray-box #notes textarea { float:left; width:270px; }

.timesheets.gray-box #summary { float:left; width:490px; height:140px; }
	.timesheets.gray-box #summary .input-label { float:left; width:400px; }
		.timesheets.gray-box #summary .input-label .italic { font-style:italic; color:#c0392b; }
	.timesheets.gray-box #summary .content { float:left; width:100%; }
	.timesheets.gray-box #summary .token { float:left; width:84px; }
	.timesheets.gray-box #summary .minus { float:left; width:16px; margin:40px 5px 60px; border-bottom:4px solid #bcc6cc; }
	.timesheets.gray-box #summary .equals { float:left; width:16px; height:5px; margin:36px 5px 60px; border-bottom:4px solid #bcc6cc; border-top:4px solid #bcc6cc;}
	.timesheets.gray-box #summary .circle { width:80px; height:44px; padding:18px 0; font-size:20px; font-weight:400; text-align:center; border:2px solid #f39c12; background-color:#f1c40f; color:#fff; border-radius:40px; }
		.timesheets.gray-box #summary .circle.target { background-color:#0ba0d4; border-color:#2984b6; }
		.timesheets.gray-box #summary .circle.actual { background-color:#1abc9c; border-color:#16a085; }
		.timesheets.gray-box #summary .circle.under { background-color:#e64c3c; border-color:#c0392b; }
		.timesheets.gray-box #summary .circle .title { font-size:11px; height:14px; text-transform:uppercase; margin-bottom:3px; }
	.timesheets.gray-box #summary .detail { font-style:normal; text-align:center; color:#9ba6ac; font-size:12px; margin-top:6px; }
	.timesheets.gray-box #summary .arrow-left { float:left; margin:0 0 0 15px; width: 0; height: 0; border-top: 42px solid transparent; border-bottom: 42px solid transparent; border-right:20px solid #dce1e5; }
	.timesheets.gray-box #summary .arrow-body { float:left; margin:0px; margin-right:-5px; width:135px; height:56px; padding:16px 12px 10px 8px; background-color:#dce1e5 !important; font-family:"Asap"; font-style:italic; font-size:13px; line-height:16px; -webkit-print-color-adjust: exact; /* for timesheets print */ }

.timesheets.gray-box .stats { float:left; width:200px; height:140px; margin:0px; }
	.timesheets.gray-box .stats.utilization { float:left; width:170px; height:140px; margin-left:10px; }

.timesheets.gray-box .stats .number { float:left; width:100%; font-size:56px; margin:10px 0 11px; font-weight:200; }
.timesheets.gray-box .stats .detail { float:left; font-style:normal; color:#9ba6ac; font-size:12px; }

.error-message { float:left; display:block; }


/* save row */

#timesheet_complete.hidden { display:none; }
input#close-timesheet, input#reopen-timesheet { float:left; margin-left:430px; margin-top:10px; border:none; outline:none; background:none; font-style:italic; color:#9ba6ac; }
input#close-timesheet:hover, input#reopen-timesheet:hover { color:#1abc9c; }
input#reopen-timesheet { margin-top:0px; }

/* print */

.page-header.print { margin-top:60px; }

.print .timesheets { width:903px; font-size:13px; }
.print .table-main.timesheets.total { margin-top:0px; }

 .print .timesheets .table-head { width:903px; }

.print .timesheets .table-body .project-cell, .print .timesheets .table-body .phase-cell, .print .timesheets .table-body .task-cell,
.print .timesheets .table-body .category-cell, .print .timesheets .table-body .description-cell  
	{ padding-top:6px; padding-bottom:5px; margin-top:0px; }
.print .timesheets .time-entries { height:30px; }

.print .timesheets .table-head .project-name { width:262px; }
.print .timesheets .table-body .project-cell { width:260px; color:#1abc9c; padding-left:2px; color:#34495e; }

.print .timesheets .table-body .phase-cell { width:19px; padding-left:10px; font-weight:900; }
.print .timesheets .table-head .phase { width:48px; }

.print .timesheets .table-body .task-cell { float:left; width:154px; padding:0px; margin:6px 5px 4px 0px; }
.print .timesheets .table-head .task { width:154px; }
.print .timesheets .table-body .task-cell .task-abridged {  width:154px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.print .timesheets .table-body .category-cell { width:200px; padding-left:2px; }
.print .timesheets .table-head .category { width:196px; }

.print .timesheets .time-entries .entry .entry-spacer { padding-top:3px; padding-bottom:7px; border:none; width:43px; margin-top:3px; background:none; }
.print .timesheets .time-entries .entry .entry-spacer.weekend { background:none; }
.print .timesheets .table-body .total { padding-top:8px; padding-bottom:3px; width:36px; }

.print .timesheets .table-body .table-row.holiday { background:none; }
.print .timesheets .table-body .table-row { border-bottom: 1px solid #ced5da; width:894px; }
.print .timesheets .table-body .table-row:nth-of-type(odd) { background-color:#ecf0f5 !important; -webkit-print-color-adjust: exact; }

.print .timesheets.total .table-body { border:2px solid #34495e; margin-top:20px; color:#34495e; font-weight:700; margin-bottom:10px;  }
.print .timesheets.total .table-body .table-row:first-child { margin-top:0px; }
.print .timesheets.total .table-body .table-row { border-bottom:none; }
.print .timesheets.total .table-body .category-cell { padding-left:10px; color:#34495e; width:188px; margin-top:2px; margin-bottom:2px; font-size:13px; font-weight:900; }
.print .timesheets.total .time-entries .entry .entry-spacer { color:#34495e; font-size:13px; }

.print .timesheets.gray-box { width:870px; padding:20px; margin-bottom:10px; }
.print .timesheets.gray-box .stats.utilization { width:160px; }
.print .timesheets .table-head { border-bottom:2px solid #344953; }


.approved { display:none; }
@media print {
	.approved { display:block; float:right; width:120px; margin-right:10px; }
	.approved .text { display:inline-block; padding:12px 0; height:16px; }
	.approved .box { float:right; width:40px; height:40px; border:2px solid #344953; margin-top:0px; }
	.print-timesheet.modal .box.print { height:auto; overflow-y:visible; overflow-x:visible;}
	.print-timesheet.modal .page-header.print .controls { display:none; }
}
.PrintArea { width:915px; }

input[type="checkbox"].hidden { display:none; }





/* all */
/* USERS - timesheets_index (all) */

	.timesheets.table { margin-top:40px; float:left; }
	.timesheets.table th { font-size:11px; text-transform:uppercase; font-weight:900; padding-bottom:4px; line-height:14px; }
		.timesheets.table th.line-left, .timesheets.table td.line-left { border-left:1px solid #bcc6cc; }
		.timesheets.table thead:first-child tr:first-child th.line-top { border-top:1px solid #bcc6cc; }
		.timesheets.table th.line-right, .timesheets.table td.line-right { border-right:1px solid #bcc6cc; }
		.timesheets.table tr:last-child td.line-bottom{ border-bottom:1px solid #bcc6cc; }
		.timesheets.table td.spacer, .timesheets.table th.spacer { width:4px; padding-left:0px; padding-right:0px; }
		.timesheets.table td.dates, .timesheets.table th.dates { padding-right:15px; }
	.timesheets.table td, .timesheets.table th { text-align:center; padding:6px 8px 2px; }
	.timesheets.table td.left, .timesheets.table th.left { text-align:left; }
	.timesheets.table td.link, .timesheets.table th.link { padding:4px 0 4px 25px; width:275px; }
	.timesheets.table .btn, .timesheets.table a.btn { color:#fff; float:left; padding:2px 8px; width:114px; font-size:13px; margin-right:6px; font-weight:400; }
	.timesheets.table input.btn  { width:130px; }
	
.timesheets.table th.check, .timesheets.table td.check { width:20px; padding:7px 0px 3px 0px; }
.timesheets.table td.check .checkbox { padding:0px; margin:0px; }

	.timesheets.table form.edit_timesheet { display:inline; margin:0px; }
	.timesheets.table input[type="checkbox"].hidden { display:none; }

	.btn.unprint-timesheet { background-color:#e1e6eb; }
		.btn.unprint-timesheet:hover { background-color:#bcc6cc; }
	.btn.print-timesheet { background-color:#f1c40f; }
		.timesheets.table .btn.print-timesheet:hover { background-color:#f39c12; }

.user-row { width:100%; margin-bottom:6px; }
.timesheets.table tr:hover td { background-color:#f4f6f9; }
	.timesheets.table tr.current td { background-color:#f4f6f9; }

.timesheets.table .btn.open { background-color:#86cc71; }
	.timesheets.table .btn.open:hover { background-color:#5bae60; }
.timesheets.table .btn.closed { background-color:#e64c3c; }
	.timesheets.table .btn.closed:hover { background-color:#c0392b; }







