<%= form_for @category do |f| %>

	<h2>Edit Contact Category</h2>
    <div class="wide">
        <div class="input-row">
            <%= f.label(:name, "Category Name", class: "input-label") %>
            <%= f.text_field :name %>
        </div>
    </div>

    <div class="save-row">
        <%= f.submit "Update Category", class: "btn btn-primary save-btn" %>
    </div>

<% end %>