	<% provide :title, "Phases Index" %>
	<div class="page-header">
		<h1>Phases Index</h1>
		<%= link_to "Add Phase", new_phase_path, class: "btn btn-primary btn-right" %>
	</div>

<ul class="link-list">
	<% @phases.each do |param| %>
			<li>
					<%= link_to param.name, edit_phase_path(param) %>
					<% if signed_in? %>
						<% if current_user.admin? %>
						| <%= link_to "delete", param, method: :delete, confirm: "You sure?" %>
						<% end %>
					<% end %>
			</li>
	<% end %>
</ul>


