			<!-- footer -->
			<div class="container">
				<footer>
					<div class="row">
						<div class="footer span15">
							<span class="default">©</span> <%= Date.today.year %>, The Kubala Washatko Architects, Inc.
						</div>
					</div>
				</footer>
			</div>
			<%= javascript_include_tag 'autocomplete-rails.js' %>

	<% if on_page?("timesheets", "show") || on_page?("projects", "tracking") %>

	  <!--  <script type="text/javascript"
	  src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","piechart"]}]}'>
	    </script> -->

	<% end %>

			