			<!-- footer -->
			<footer>
				<div class="row">
					<div class="footer span15">
						©2012, The Kubala Washatko Architects, Inc. | <%= link_to "Home", root_path %>
					</div>
				</div>
			</footer>

			