<% content_for :content do %>
	<% provide :title,"All Projects" %>
	<div class="page-header">
		<h1>All Projects</h1>
	</div>
	
	<div class="line"></div>

	<div class="row">
		<div class="span14 sh">
			<div class="row">	
				<div class="span13 offset05">
  					<%= content_for?(:content) ? yield(:content) : yield %>
  				</div> <!-- end span13 -->
			</div> <!-- end row -->	
  		</div> <!-- end span14 -->
	</div> <!-- end row -->	
<% end %>
<%= render :template => 'layouts/application' %>
