<% content_for :page_header do %>
	<% provide :title, "New Project" %>
	<div class="page-header">
		<h1>New Project</h1>
	</div>
<% end %>


<% content_for :tabnav do %>
	<div class="line"></div>
<% end %>


<% content_for :content do %>
	<div class="row">
		<div class="span14 sh">
			<div class="row">	
				<div class="span13 offset05">
  					<%= content_for?(:content) ? yield(:content) : yield %>
  				</div> <!-- end span13 -->
			</div> <!-- end row -->	
  		</div> <!-- end span14 -->
	</div> <!-- end row -->	
<% end %>


<%= render :template => 'layouts/application' %>