<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
    
        <!-- main content -->
        <div class="container">
            
            <%= yield :page_header %>
            <%= yield :tabnav %>

            <div class="box">	
          	    <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
                                
    	</div> <!-- end container -->

    </body>  
</html>  