<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= yield(:title) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
        <!-- main content -->
        <div class="container">
          <%= content_for?(:content) ? yield(:content) : yield %>
    	</div> <!-- end container -->
      
    </body>  
</html>  