	<%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag params[:controller], media: 'all' %>
<div class="modal-dialog">
	<div class="modal-content">
  		
  		<%= content_for?(:content) ? yield(:content) : yield %>

	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->